<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <title>Sequensis</title>
    <link href="~/styles/application.min.css" rel="stylesheet">
    <link href="~/styles/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>
<body>

<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>MENU</a>
            </li>
            <li class="sidebar-brand">
                <a href="#home">HOME</a>
            </li>
            <li class="sidebar-brand">
                <a href="#about">ABOUT</a>
            </li>
            <li class="sidebar-brand">
                <a href="#hacks">HACKS</a>
            </li>
                <li>
                    <a href="https://twitter.com/JessPWhite">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/wordshaker">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://uk.linkedin.com/pub/jessica-pattison-white/83/178/679">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a class="ab" href="mailto:jess@technottingham.ac.uk">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
        </ul>
</nav>


 <section id="home" class="home">
     <div class="homebackground" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#home">
          <div class="homecontainer">
              <div class="homecontent text-left" data--200-bottom="opacity: 0" data-center="opacity: 0.75" data-106-top="opacity: 1" data-anchor-target="#home">
                  <div class="col-lg-10 col-lg-offset-1 homename text-center">
                      <h1>Jessica White</h1>
                      <h3>Software Developer</h3>
                      <ul class="list-inline social-buttons">
                          <li>
                              <a href="https://twitter.com/JessPWhite">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://github.com/wordshaker">
                                  <i class="fa fa-github"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://uk.linkedin.com/pub/jessica-pattison-white/83/178/679">
                                  <i class="fa fa-linkedin"></i>
                              </a>
                          </li>
                          <li>
                              <a class="ab" href="mailto:jess@technottingham.ac.uk">
                                  <i class="fa fa-envelope"></i>
                              </a>
                          </li>
                      </ul>
                  </div>     
                   
              </div>
          </div>
      </div>
 </section>

    <section id="about">
        <div class="aboutbackground" data-0="background-color:rgb(240,255,240);" data-top="background-color:rgb(96,96,96);" data-anchor-target="#about">
            <div class="aboutcontainer">
                <div class="aboutcontent">
                    <h2 class="text-center page-header" data--200-bottom="opacity: 0.5" data-center="opacity: 1" data-206-top="opacity:0.5" data-106-top="opacity: 0.25" data-anchor-target="#about h2">ABOUT</h2>
                    <p data--200-bottom="opacity: 0.5" data-center="opacity: 1" data-206-top="opacity: 0.5" data-106-top="opacity: 0.25" data-anchor-target="#about p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="firstBanner">
        <div class="hack24background" data-anchor-target="#firstBanner">
        </div>
    </section>

    <section id="hacks">
        <div class="hacksbackground" data-0="background-color:rgb(96,96,96);" data-top="background-color:rgb(250,255,250);" data-anchor-target="#hacks">
            <div class="hackscontainer">
                <div class="hackscontent">
                    <h2 class="text-center page-header" data--200-bottom="opacity: 0.5" data-center="opacity: 1" data-206-top="opacity:0.5" data-106-top="opacity: 0.25" data-anchor-target="#about h2">HACKS</h2>
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">BRUM HACK 2.0 (2014)</div>
                            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header">HACK24 (2015)</div>
                            <div class="collapsible-body"><p>Two strangers and I joined on the day to form the team Jodi and The Jess'.
                                 We entered the MidlandHR Challenge to create a website where employees could rate their managers and users could 
                                retrieve information about company fit, gender ratio etc. We formed a website connected to a SQL database. This was my 
                                first experience of PHP and I also used some
                                 JS for graphical representations of the data. Though we did not win, it was a valueable learning experience.</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header">HACK MANCHESTER (2015)</div>
                            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header">HACK 24 (2016)</div>
                            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="conferences">
        <div class="hacksbackground" data-0="background-color:rgb(96,96,96);" data-top="background-color:rgb(250,255,250);" data-anchor-target="#hacks">
            <div class="hackscontainer">
                <div class="hackscontent">
                    <h2 class="text-center page-header" data--200-bottom="opacity: 0.5" data-center="opacity: 1" data-206-top="opacity:0.5" data-106-top="opacity: 0.25" data-anchor-target="#about h2">CONFERENCES</h2>
                    <ul class="collapsible popout" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">WOMEN TECH MAKERS (2015)</div>
                            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <script src="~/scripts/jquery.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/materialize.js"></script>
    <script src="~/scripts/skrollr.min.js"></script>
    <script>var s = skrollr.init();</script>

    <script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    $(function () {
        $('.collapsible').collapsible({
            accordion: true
        });
    });
    </script>
    @RenderBody()
</body>
</html>
