.aboutbackground{
    background: none;
    background-color: white;
    height: 310px;
    text-align: center
}
.aboutcontainer{
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.aboutcontent{
    max-width: 450px;
	margin: -150px auto 0 auto;
	display: table-cell;
	color: #010101;
	padding: 0 8%;
	text-align: center
}

.page-header{
    padding-top:20px;
    padding-bottom:40px;
}
p{
    font-size: 16px;
}

@media(max-width: 600px){
    .aboutbackground{
    background: none;
    background-color: white;
    height: 410px;
    text-align: center
    }
}
@media(max-width: 800px){
    .aboutbackground{
    background: none;
    background-color: white;
    height: 510px;
    text-align: center
    }
}
