.hack24background{
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	height: 50%;
	width: 100%;
}

#firstBanner .hack24background{
    background-image: url(../../Images/BWJess.jpg);
    height: 738px;
}

@media(max-width: 600px){
    #firstBanner .hack24background{
    background-image: url(../../Images/BWJessSm.jpg);
    background-position: -125px;
    height: 500px;
    }
}
@media(max-width: 360px){
    #firstBanner .hack24background{
    background-image: url(../../Images/BWJessSm.jpg);
    background-position: -115px;
    height: 500px;
    }
}